/**Reset everything**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Container**/
.container-fluid {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/**ROW**/
.row {
    display: flex;
    flex-flow: row wrap;
}

/**COLUMNS**/
.col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}