body {
    font-family: sans-serif;
}

[class^="col"] {
    height: 50px;
    border: 2px solid white;
    background-color: pink;
}

.nested {
    height: 35px;
    background-color: aquamarine;
    border: 2px solid pink
}

h1 {
    margin: 20px 0;
}