body {
    font-family: sans-serif;
}

[class^="col"] {
    height: 50px;
    border: 2px solid white;
    background-color: rgb(255, 225, 230);
}

.nested {
    height: 35px;
    background-color: rgb(185, 234, 253);
    border: 2px solid rgb(255, 225, 230);
}

h1 {
    margin: 20px 0;
}

.big-col {
    height: 100px;
    background-color: rgb(255, 225, 230);
    border: 2px solid white;
}