body {
    font-family: sans-serif;
}

[class^="col"] {
    height: 50px;
    border: 1px solid white;
    background-color: pink;
}

.row {
    height: 50px;
}

.nested {
    height: 30px;
    background-color: aquamarine;
    border: 1px solid pink
}